.aa{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
}
.bb{
  position: absolute;
  top: 16px;
  right: 20px;
}
.cc{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  box-sizing: border-box;
}